@import 'https://fonts.googleapis.com/css?family=Crimson+Text|Montserrat';
* {margin:0;padding:0;box-sizing:border-box;}
body {
	color: #112444;
	text-align: center;
	font-size: 16px;
	font-family: 'Crimson Text', serif;
}
nav {
    background-color: #112444;
    text-align: left;
}

/*LoVe HAte*/

nav a:link{
	display:inline-block;
	color:#fff;
	padding:1em;
	margin:0 1em;
	text-decoration:none;
}

nav a:visited{
	color: #fff;
}

nav a:Hover{
	color:pink;
}

nav a:active{
	color:#fff;
}

section {
	padding:4em 0;
}
figure {
	width: 25%;
	float: left;
	padding:1em;
}
figure img {
	width:100%;
}
h1,h2,h3 {
    font-family: 'Montserrat', sans-serif;
}
hr {
	margin:1em auto;
	width: 180px;
}
h2 {
	font-size:1.5em;
	/* padding-top: .8em; */
	margin-bottom: 1em;
}

a {
	color:inherit;
}

#splash {
	background-image: url(../images/strum2000.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 90vh;
    padding: 10em 0 0;
}
#splash div {
    background: #112444;
    color: #fff;
    padding: 2em 0;
    width: 30em;
    margin: auto;
}
#featured div {
	margin:auto;
	width:75em;
}
footer {
	padding: 4em 0;
	color: #fff;
	background: #112444;
	clear:both;
}
.clearfix:after {
	display:block;
	clear:both;
	visibility:hidden;
	height:0;
	content:" ";
}
section#featured {
    background: #ededed;
}

#about img {
    float: left;
    width: 25%;
    border-radius: 50%;
}

#about div {
    width: 75%;
    float: left;
    padding-left: 2em;
}

#about {
    width: 600px;
    margin: auto;
    text-align: left;
}
#left {
    background-color: violet;
    border: 1px black solid;
    padding: 4px;
    float: left;
    width: 46%;
}

#right {
    background-color: pink;
    border: 1px black solid;
    padding: 4px;
    float: right;   
    width: 46%;
}
