* {margin:0;padding:0;box-sizing:border-box;}
body {
	color: #112444;
	text-align: center;
	font-size: 16px;
	font-family: Helvetica;
}

nav {
    background-color: #112444;
    position: fixed;
    height: 30px;
    width: 100%;
    display: inline;
}
#navtop {
    font-family: Helvetica;
    color: #fff;
    list-style-type: none;
    margin: 0;
    padding: 10px;
}
#navtop li {
    display: inline;
    padding-left: 20px;
}
hr {
	margin:1em auto;
	width: 180px;
}
}
h2 {padding-top: .5em

}

a {
	text-decoration: none;
}
#splash {
	background-image: url(../images/strum2000.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 90vh;
    padding: 10em 0 0;
}
#splash div {
    background: #112444;
    color: #fff;
    padding: 2em 0;
    width: 30em;
    margin: auto;
}
