style.css
body {
	color: #112444;
	background: url('images/strum.jpg');
	background-size: cover;
	text-align: center;
	font-size: 16px;
	font-family: Arial;
}

hr {
  width: 200px;
}

a {text-decoration: none;
}